/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode

# MySQL データベース
/docker/mysql/data/

# MySQL 設定ファイル（必要な場合は無視しない）
/docker/mysql/my.cnf